In [1]:
! jupyter nbextension enable --py gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
#! pip install gmaps

In [4]:
import gmaps

In [5]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Honningsvag,NO,2022-04-27 22:31:45,70.9821,25.9704,26.35,54,20,24.16
1,1,Tsaratanana,MG,2022-04-27 22:31:46,-16.7833,47.6500,71.53,91,4,4.21
2,2,Rawson,AR,2022-04-27 22:31:46,-43.3002,-65.1023,47.61,51,100,19.93
3,3,Mahebourg,MU,2022-04-27 22:31:46,-20.4081,57.7000,73.26,94,20,6.91
4,4,Busselton,AU,2022-04-27 22:31:47,-33.6500,115.3333,57.76,85,68,10.89

In [6]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [7]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Arraial Do Cabo,BR,2022-04-27 22:31:48,-22.9661,-42.0278,78.66,78,0,11.50
8,8,Puerto Ayora,EC,2022-04-27 22:31:18,-0.7393,-90.3518,76.96,83,35,8.50
10,10,Vao,NC,2022-04-27 22:31:48,-22.6667,167.4833,75.45,69,100,20.87
12,12,The Valley,AI,2022-04-27 22:31:49,18.2170,-63.0578,77.83,62,29,13.82
13,13,Luba,GQ,2022-04-27 22:31:49,3.4568,8.5547,77.94,87,97,6.98
20,20,Garowe,SO,2022-04-27 22:31:51,8.4054,48.4845,76.77,75,75,10.60
30,30,Hilo,US,2022-04-27 22:31:55,19.7297,-155.0900,86.29,85,100,3.44
37,37,Rikitea,PF,2022-04-27 22:31:58,-23.1203,-134.9692,77.11,71,14,23.98
43,43,Avarua,CK,2022-04-27 22:32:02,-21.2078,-159.7750,84.25,79,20,11.50
45,45,Karratha,AU,2022-04-27 22:32:03,-20.7377,116.8463,77.67,43,99,7.34

In [15]:
preferred_cities_df.count()

City_ID       179
City          179
Country       178
Date          179
Lat           179
Lng           179
Max Temp      179
Humidity      179
Cloudiness    179
Wind Speed    179
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
7   Arraial Do Cabo      BR     78.66 -22.9661  -42.0278
8      Puerto Ayora      EC     76.96  -0.7393  -90.3518
10              Vao      NC     75.45 -22.6667  167.4833
12       The Valley      AI     77.83  18.2170  -63.0578
13             Luba      GQ     77.94   3.4568    8.5547
20           Garowe      SO     76.77   8.4054   48.4845
30             Hilo      US     86.29  19.7297 -155.0900
37          Rikitea      PF     77.11 -23.1203 -134.9692
43           Avarua      CK     84.25 -21.2078 -159.7750
45         Karratha      AU     77.67 -20.7377  116.8463

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [24]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Arraial Do Cabo,BR,78.66,-22.9661,-42.0278,Pousada Porto Praia
8,Puerto Ayora,EC,76.96,-0.7393,-90.3518,Finch Bay Galapagos Hotel
10,Vao,NC,75.45,-22.6667,167.4833,Hotel Kou-Bugny
12,The Valley,AI,77.83,18.2170,-63.0578,CeBlue Villas & Beach Resort
13,Luba,GQ,77.94,3.4568,8.5547,
20,Garowe,SO,76.77,8.4054,48.4845,Curubo Hotel
30,Hilo,US,86.29,19.7297,-155.0900,Hilo Hawaiian Hotel
37,Rikitea,PF,77.11,-23.1203,-134.9692,People ThankYou
43,Avarua,CK,84.25,-21.2078,-159.7750,Paradise Inn
45,Karratha,AU,77.67,-20.7377,116.8463,ibis Styles Karratha

In [33]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [32]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]